<form>
    <div [hidden]="ajout">
        <label>ID Classification</label>
        <input type="text" [(ngModel)]="classification.idClas" name="idClassification" class="form-control w-25">
        </div>
    <div>
        <label>Nom Classification</label>
        <input type="text" [(ngModel)]="classification.nomClas" name="nomClassification" class="form-control"
            placeholder="Entrez un nom de Classification...">
    </div>
    <div class="mt-2">
        <button type="submit" [disabled]="!classification.nomClas" class="btn btn-success"
            (click)="saveClassification()">{{ajout ? 'Ajouter' : 'Modifier'}}
        </button>
    </div>
</form>