<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
       
        <app-update-classification [classification]="updatedClas" (classificationUpdated)="classificationUpdated($event)" [ajout]="ajout">
        </app-update-classification>
            </div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Classification</th>
                    </tr>
                </thead>
                <tbody *ngFor="let clas of classifications">
                    <tr>
                        <td>{{clas.idClas}}</td>
                        <td>{{clas.nomClas}}</td>
                        <td><a class="btn btn-success" (click)="updateClas(clas)">Editer</a></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>